
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  word-wrap: break-word;
  /* background-color: rgb(34, 29, 59); */
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header#dark {
  background-color: #0F3460;
  color: white;
  box-shadow: none;
  border-bottom: 1px solid white;
}

.App#dark {
  background-color: #16213E;
  color: white;
}

.App#dark input[type="text"] {
  background-color: #0F3460;
  border-color: white;
  color: white;
}

.App#dark input[type="text"]::placeholder {
  color: white;
}

.App#dark .todo_add input[type="button"] {
  background-color: #E94560;
  color: white;
  border-color: white;
}

.App#dark .todo_add input[type="button"]:hover {
  background-color: #992c3e;
}

.App#dark #todos {
  background-color: #533483;
  box-shadow: 0 0 5px rgb(65, 51, 87);
}

.App#dark #todos.done {
  background-color: #2f123f;
}

.App#dark .dropdown_button {
  background-color: #E94560;
}

.App#dark .dropdown_button:hover {
  background-color: #a32b3f;
}

.App#dark .dropdown_menu {
  background-color: #E94560;
}

.App#dark .dropdown_option:hover {
  background-color: #992d3f;
}

/* header > input {
  
} */

.todo_add {
  /* display: inline-block; */
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px 20px;
}

.input_field {
  /* width: 200px; */
  width: 100%;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  grid-column: 1 / span 4;
}

.input_field:focus {
  border-color: black;
}

.todo_button {
  padding: 8px 16px;
  grid-row: 2;
  grid-column: auto / span 2;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(68, 196, 255);
  cursor: pointer;
}

.todo_button:hover {
  background-color: rgb(64, 182, 236);
}

.active_todos {
  margin-top: 0px;
}

.active_todos h2 {
  margin-top: 10px;
  text-align: center;
}

.todo_count {
  display: grid;
  column-gap: 10px;
  justify-content: center;
}

.todo_count h4 {
  grid-row: 1;
  margin: 0 5px;
}

#todos {
  display: grid;
  grid-template-columns: .3fr 2fr 1fr;
  align-items: center;
  position: relative;
  font-size: larger;
  user-select: none;
  padding: 10px 50px;
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(212, 212, 212);
  cursor: pointer;
}

#todos input[type="checkbox"] {
  justify-self: right;
}

#todos label {
  margin-left: 10px;
  cursor: pointer;
  justify-self: start;
}

#todos.done {
  background-color: yellow;
  text-decoration: line-through;
  opacity: 0.6;
}

#todos.done .dropdown_button {
  background-color: inherit;
}

.dropdown_button {
  outline: none;
  border: none;
  background-color: #fff;
  background-image: url("/src/images/dots.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.199);
  justify-self: end;
  margin-left: 5px;
}

.dropdown_button:hover {
  background-color: #ececec;
}

.dropdown_menu {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 150px;
  right: -60px;
  top: -170px;
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  cursor: default;
}

div.hidden {
  display: none;
}

.dropdown_option {
  width: 100%;
  padding: 10px 0;
  margin-left: 50%;
  transform: translateX(-50%);
  /* border: 1px solid rgb(59, 59, 59);
  border-radius: 5px; */
  border-bottom: 1px solid rgb(59, 59, 59);
  text-align: center;
  cursor: pointer;
}

.dropdown_option:hover {
  background-color: rgb(209, 209, 209);
}

.rename_popup {
  display: flex;
  position: absolute;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.rename_popup .rename_window {
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  z-index: 2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rename_popup .bg_blur {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(1px); */
}

.rename_window_container {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* column-gap: 5px; */
}

.rename_window .rename_field {
  grid-column: 1 / -1;
  padding: 15px 5px;
  border: 1px solid grey;
  outline: none;
  border-radius: 5px;
}

.rename_field:focus {
  border-color: black;
}

.rename_window input[type=button] {
  border: none;
  outline: none;
  border-radius: 5px;
}

.rename_window input[type=button]:hover {
  cursor: pointer;
  filter: brightness(80%)
}

.rename_window .cancel-button {
  background-color: #ff1c1c;
  grid-row: 5;
  grid-column: span 2;
}

.rename_window .confirm-button {
  background-color: #1fca1f;
  grid-row: 5;
  grid-column: 5 / span 2;
}